{% extends "base.html" %}


{% block title %}
Register | Table Tennis Manager
{% endblock %}



{% block content %}


<section class="page-section">


    <div class="professional-form-card">


        <div class="page-header">

            <p class="eyebrow">
                Account
            </p>


            <h1>
                Create account
            </h1>


            <p class="page-subtitle">
                Join Table Tennis Manager and start managing your journey.
            </p>

        </div>




        <form method="post">


            {% csrf_token %}



            {% if form.non_field_errors %}

                <div class="form-errors">

                    {% for error in form.non_field_errors %}

                        <p>
                            {{ error }}
                        </p>

                    {% endfor %}

                </div>

            {% endif %}





            {% for field in form %}


                <div class="form-group">


                    <label
                        for="{{ field.id_for_label }}"
                    >

                        {{ field.label }}

                    </label>



                    {{ field }}




                    {% if field.errors %}

                        <div class="field-errors">


                            {% for error in field.errors %}

                                <p>
                                    {{ error }}
                                </p>


                            {% endfor %}


                        </div>

                    {% endif %}



                </div>



            {% endfor %}





            <button
                type="submit"
                class="primary-button"
            >

                Create account

            </button>



        </form>



    </div>


</section>


{% endblock %}
