{% load i18n %}
{% load i18n static %}

<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="UTF-8">


    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >


    <meta
        name="description"
        content="{% translate 'Table Tennis Manager - Track players, matches and performance.' %}"
    >


    <title>

        {% block title %}
            Table Tennis Manager
        {% endblock %}

    </title>



    <link
        rel="stylesheet"
        href="{% static 'css/styles.css' %}"
    >



    {% block extra_css %}

    {% endblock %}


</head>



<body>


<header>

    {% include "includes/navbar.html" %}

</header>





<main class="main-content">


    <div class="container">


        {% if messages %}


            {% for message in messages %}


                <div
                    class="message"
                >

                    {{ message }}

                </div>


            {% endfor %}


        {% endif %}




        {% block content %}

        {% endblock %}



    </div>


</main>






<footer class="site-footer">


    <div class="container">


        <div class="footer-content">
            <p>
                © 2026 Table Tennis Manager.
                {% translate "Built for competitive athletes." %}
            </p>
            <nav class="footer-legal-nav" aria-label="{% translate 'Legal information' %}">
                <a href="{% url 'legal:privacy' %}">{% translate "Privacy Policy" %}</a>
                <a href="{% url 'legal:terms' %}">{% translate "Terms of Use" %}</a>
            </nav>
        </div>


    </div>


</footer>





{% block extra_js %}

{% endblock %}



</body>


</html>
